<template name="topbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="" src="/img/logo-25.png" heigth="25">
        </a>
        <a class="navbar-brand" href="/">
          Craneduino
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          {{#each routes}}
            {{> navItem}}
          {{/each}}
        </ul>

        {{#if currentUser}}
        <ul class="nav navbar-nav navbar-right">
          <li class="{{#if isProfilePage}}active{{/if}}">
            <a href="/accounts"><span class="glyphicon glyphicon-user"></span>
            {{currentUser.username}}</a>
          </li>
          <li>
            <a class="logout">Ausloggen</a>
          </li>
        </ul>
        {{else}}
          <form class="navbar-form navbar-right">
            <button class="btn btn-default btn-login">Login</button>
          </form>
        {{/if}}
      </div>
    </div>
  </nav>
</template>

<template name="navItem">
  <li class="{{#if active}}active{{/if}}">
    <a href="{{path}}">{{displayName}}</a>
  </li>
</template>
