<template name="plantsList">
  <div class="list-group">
    {{#each plants}}
      {{> plant}}
    {{/each}}

    <a class="list-group-item">
      <form class="insertPlant">
        <div class="input-group">
          <input type="text" name="name" class="form-control" placeholder="Pflanzenname" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </form>
    </a>
  </div>
</template>

<template name="plant">
  <a class="list-group-item {{#if isActive}}active{{/if}}">
    <p class="list-group-item-text">{{name}}</p>
  </a>
</template>
