.updatePlant {
  .row {
      position: relative;
  }

  .row > .align-bottom {
    position:absolute;
    right: 0;
    bottom: 0;
  }

  .btn {
    float: right;
    margin-left: 15px;
  }
  /*
  .row > .align-bottom > .deletePlant {
    margin-bottom: 5px;
  }

  .row > .align-bottom > .updatePlantEdit {
    position: absolute;
    right: 15px;
    bottom: 5px;
  }

  .row > .align-bottom > .updatePlantSave {
    position:absolute;
    right: 15px;
    bottom: 5px;
  }*/
}
