<template name="plantsView">
  <div class="row">
    <div class="col-sm-3">
      {{> plantsList}}
    </div>
    <div class="col-sm-9 updatePlant">
      {{#autoForm collection="Plants" id="updatePlantForm" doc=this type="update" resetOnSuccess=false}}
        <div class="row">
          <div class="col-sm-7">
            <h2>{{name}} <small>{{species}}</small></h2>
          </div>
          <div class="col-sm-5 align-bottom">
            {{#if isEditable}}
              <button class="btn btn-success updatePlantSave">
                <span class="glyphicon glyphicon-floppy-disk"></span> Speichern
              </button>
              {{#afModal formId="deletePlant" class="btn btn-danger deletePlant" collection="Plants" operation="remove" doc=_id buttonContent="Entgültig entfernen" prompt="Sind sie sich sicher, dass sie das Objekt entültig löschen möchten? Diese Operation kann nicht rückgangig gemacht werden. " onSuccess="afterRemoval"}}
                <span class="glyphicon glyphicon-trash"></span> Entfernen
              {{/afModal}}
            {{else}}
              <button class="btn btn-default updatePlantEdit">
                <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
              </button>
            {{/if}}
          </div>
        </div>
        <fieldset disabled="{{#if isEditable}}{{else}}true{{/if}}">
          {{> afQuickField name='name'}}
          {{> afQuickField name='species'}}
          {{> afQuickField name='notes'}}
          {{> afQuickField name='wateringTime'}}
          {{> afQuickField name='moisture'}}
          <div class="form-group">
            Erstellt: {{createdAt}}
          </div>
          <div class="form-group">
            Aktualisiert: {{updatedAt}}
          </div>
        </fieldset>

      {{/autoForm}}
    </div>
  </div>
</template>
