<template name="profileView">
  <header>
    <h1>Benutzerverwaltung</h1>
  </header>

  <div class="panel panel-default">
    <form class="profileForm">
      <div class="panel-heading"><h2 class="panel-title">Profilinformationen</h2>
      </div>
      <div class="panel-body">
        <fieldset>
          <div class="form-group">
            <label for="profileFirstName">Vorname</label>
            <input id="profileFirstName" class="form-control" type="text" name="firstName" value="{{profile.firstName}}" />
          </div>
          <div class="form-group">
            <label for="profileLastName">Nachname</label>
            <input id="profileLastName" class="form-control" type="text" name="lastName" value="{{profile.lastName}}" />
          </div>
          <div class="form-group">
            <label for="profileBio">Biographie</label>
            <textarea id="profileBio" class="form-control" name="bio" value="{{profile.bio}}"></textarea>
          </div>
          <div class="form-group">
            <label for="profileWebsite">Website</label>
            <input id="profileWebsite" class="form-control" type="text" name="website" value="{{profile.website}}" />
          </div>
        </fieldset>
        <input class="btn btn-default btn-block" type="submit" value="Aktualisieren" />
      </div>
    </form>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Benutzerverwaltung</div>
    <div class="panel-body">
      <p>...</p>
    </div>

    <table class="table">
      ...
    </table>
  </div>
</template>
