<template name="loginView">
  <div class="row loginView">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      {{#if isSignup}}
        {{> loginCtrl}} <!-- Just temporary -->
      {{else}}
        {{> loginCtrl}}
      {{/if}}
    </div>
  </div>
</template>
