<template name="loginCtrl">
  <h1 class="text-center login-title">Bitte melde dich an, um fortzufahren</h1>
  <div class="account-wall">
    <img class="profile-img" src="/img/logo-banner.png" alt="Craneduino">
    <form class="form-signin">
      <div class="panel panel-danger {{#if showErrorMessage}}show{{else}}hidden{{/if}}">
        <div class="panel-body">
          Ihre Kombination aus Benutzername und Passwort ist nicht korrekt.
        </div>
      </div>
      <input type="text" name="username" class="form-control" placeholder="Benutzername" required autofocus>
      <input type="password" name="password" class="form-control" placeholder="Passwort" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Anmelden
      </button>
      <label class="checkbox pull-left">
        <input type="checkbox" value="remember-me">
        Angemeldet bleiben
      </label>
      <span class="clearfix"></span>
    </form>
  </div>
</template>
